{% extends "sample/base.jinja2" %}

{% block head_title %}Sample Project{% endblock %}

{% block body_container %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="smaller">Welcome to Sample Project</h1>
      <p>
        Sample Project created from cookiecutter-django-jw
      </p>
    </div>
  </div>
  <hr>
  <footer>
    <p>© John Whitlock 2015</p>
  </footer>
{% endblock %}
